<h2>ember-i18n demo</h2>
<h3>See the about-ness component.</h3>

<h3>Choose your language: {{language-selector}}</h3>
<h3>Name: {{input value=(mut name)}}</h3>
<h3>Section number: {{input value=(mut sectionNumber)}}</h3>

<hr />

<h3>
Here is some text without any interpolations:
</h3>
<div>
    {{t 'about.main.text'}}
</div>
<h3>
And here is some more, with a couple interpolations:
</h3>
<div>
    {{t 'about.main.moreText' name=name sectionNumber=sectionNumber}}
</div>
<h3>
And check out the pluralization support:
</h3>
<div>zero: {{t 'about.main.withPluralization' count=0}}</div>
<div>1: {{t 'about.main.withPluralization' count=1}}</div>
<div>19: {{t 'about.main.withPluralization' count=19}}</div>
